/* Place any CSS overrides in this file. */

/* All titles in Gazpacho font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Gazpacho';
}

/* All text in OsnovaPro font */
p, a, li {
    font-family: OsnovaPro;
}

.headding--size-products {
    width: 101%;
    position: absolute;
    z-index: 3;
    bottom: -1px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.grid__image:hover .headding--size-products {
    opacity: 1;
    visibility: visible;
}

.headding--size-products.isbundle {
    bottom: 57px;
    left: -1px;
}
.headding--size-products .title-bundle--v {
    font-size: 12px;
    z-index: 2;
    color: #000 !important;
    opacity: 1 !important;
    position: relative;
    padding: 7px 15px;
}

.headding--size-products .wrapper-container--size-grid {
    z-index: 3;
    position: relative;
    text-align: center;
    padding: 5px 0 0;
    cursor: pointer;
    font-size: 12px;
}
.headding--size-products .wrapper-container--size-grid.with-tag {
    padding: 5px 0 50px;
}
.headding--size-products .wrapper-container--size-grid > div {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.headding--size-products .wrapper-container--size-grid.active {
    font-size: 0;
}

.headding--size-products .wrapper-container--size-grid svg {
    transition: all .5s;
    fill: #dba7a4;
    margin: 0 5px;
}
.headding--size-products .wrapper-container--size-grid.active svg {
    transform: rotate(180deg) translate(-120px, 0px);
}
.headding--size-products .wrapper--get-sizes-grid {
    max-height: 0px;
    transition: all .45s ease-in-out;
}

.headding--size-products .wrapper--get-sizes-grid.active {
    max-height: 100vh;
}
.headding--size-products .wrapper--get-sizes-grid.active.with-tag {
    padding-bottom: 35px;
}
.headding--size-products ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 5px 10px;
    font-size: 12px;
    color: #000;
    font-family: OsnovaPro;
    position: relative;
    z-index: 3;
}

.headding--size-products .bg-blur {
    background: rgb(255 255 255 / 85%);
    filter: blur(1px);
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 104%;
    z-index: 1;
}

li.sold-out--option {
    position: relative;
    opacity: 0.5;
    color: grey;
}

li.sold-out--option:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
}

.item--product--parent a.link--item--product:hover .headding--size-products {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .headding--size-products {
        opacity: 1;
        visibility: visible;
    }

    .headding--size-products .wrapper-container--size-grid.active svg {
        transform: rotate(180deg) translate(0px, 0px);
    }

    .headding--size-products .title-bundle--v, .headding--size-products ul {
        font-size: 10px;
        padding: 1px 5px;
    }
}

.cart-popup-message-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    /* border-bottom: 1px solid #e2e2e2; */
}

.cart-popup-message-bar .title {
    font-size: 13px;
    font-weight: 400;
    font-family: OsnovaPro;
    text-align: center;
    padding: 0;
}

div.cart-popup-message-bar > div.message__extra {
    font-size: 13px;
    font-weight: 400;
    font-family: OsnovaPro;
    text-align: center;
    padding: 10px 20px;
    background: #E9E9D5;
    margin: 10px 0px;
    border-radius: 5px;
}

.cart-popup-message-bar .title a {
    color: #5B85AF;
}

.cart-popup-message-bar .title img {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.cart-popup-message-bar .bar-wrapper{
    width: 100%;
    border: 1px solid #5B85AF;
    height: 10px;
    position: relative;
    overflow: hidden;
    background: transparent;
    margin-top: 10px;
    border-radius: 10px;
}

.cart-popup-message-bar .bar-wrapper .bar {
    position: absolute;
    background: #5B85AF;
    height: 100%;
}
